.container{
    width:600px;
    height:300px;
    background-color: aquamarine;
    display:grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px; */
    /* grid-template-columns: 100px 100px 100px 100px 100px; */
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1fr 1fr 1fr 1fr;
row-gap: 10px;
column-gap: 10px;
justify-items: end;
}
.items{
    width:100px;
    height:50px;
    background-color: red;
    border:2px solid black;
    text-align: center;

}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
}