* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fafafa;
}
.navbar {
    background: #111;
    color: white;
    padding: 1rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    font-size: 1.7rem;
    font-weight: 700;
}
.nav-center {
    display: flex;
    gap: 2rem;
}
.nav-center a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 1.05rem;
    transition: 0.3s;
}
.nav-center a:hover {
    color: #fff;
}
.nav-right {
    display: flex;
    gap: 1.5rem;
}
.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
}
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}
@media(max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .hamburger {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
    }
    .nav-center {
        display: none;
        width: 100%;
        background: #333;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        border-top: 1px solid #444;
    }
    #menu-toggle:checked ~ .nav-center {
        display: flex;
        gap: 1.2rem;
    }
    .nav-right {
        display: flex;
        margin-left: auto;
    }
}