body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightpink;
    margin: 20px;
}
.container{
    background-color: lightcoral;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    margin: 20px;
}
.card{
    background-color: teal;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px darkcyan;
    border: 2px solid black;
    
}
.circle{
    background-color: lightslategray;
    color: thistle;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;

}
h3{
    margin-bottom: 5px;
}
p{
    margin: 5px,0;
    font-size: 14px;
}
