body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    text-align: center;
    margin: 20px;
}
h1{
color: black;
margin-bottom: 30px;
}
button{
    color: white;
    background-color: blue;
}

.product-box{
    background-color: white;
    width: 300px;
    margin:  0 auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 8px;

}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;

}
.product-box h2{
    color: black;
    font-size: 20px;
    margin-top: 10px;

}
.description{
    color:dimgray;
    font-size: 14px;
    margin: 10px 0;
}
.price{
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: darkred;
    cursor: pointer;

}