body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
}
.block-menu a{
    display: block;
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin:  5px 0;
    text-decoration: none;

}
.inline-menu a{
    display: inline;
    background-color: #24f544;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.inline-block-menu a{
    display: inline-block;
    background-color: #9b599b;
    color: white;
    height: 50px;
    width: 120px;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
}
.float-menu{
    float: right;
    background-color: aqua;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
}
.clear-example{

    clear: both;
    color:lemonchiffon;
    background-color: palevioletred;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid powderblue;
}



